<body>
  <nav>
    <div class="container">
      <div class='navbar'>
        <img src="../../../assets/logouta.png" class="logo" alt="Main Logo">
        <ul>
          <li><a routerLink="/dashboard">API Servicios</a></li>
          <li><a routerLink="/dashboard"> Home </a></li>
          <li><a routerLink="/private"> Private </a></li>
          <li><a routerLink="/login"> Sign In </a></li>
          <li><a routerLink="/register"> Sign Up </a></li>
          <li><a routerLink="/aboutme"> About Me </a></li>
        </ul>
      </div>
    </div>
  </nav>
</body>