<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"></script>
</head>

<body>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    API Servicios
                </div>
                <form id="loginform">
                    <input type="text" name="usuario" placeholder="Correo" required>
                    <input type="password" placeholder="Contraseña" name="password" required>
                    <div class="pie-form">
                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                        <a href="register" class="goRegister">Registrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>