<body>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    API Servicios
                </div>
                <form id="loginform">
                    <input type="text" name="correo" placeholder="correo" required autofocus>
                    <input type="password" placeholder="Contraseña" name="password" required autofocus>
                    <div class="pie-form">
                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                        <a href="register" class="goRegister">Registrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>