<body>
    <div class="signupFrm">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo"> {{ titulo | uppercase }}</span>
                        <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                            <div class="inputContainer">
                                <input type="text" formControlName="producto" class="form-control-lg"
                                    placeholder="Producto">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                    <span>El nombre del producto <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="text" formControlName="categoria" class="form-control-lg"
                                    placeholder="Categoria">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                    <span>La categoria <strong>es obligatoria</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="text" formControlName="ubicacion" class="form-control-lg"
                                    placeholder="Ubicacion">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                                    <span>La ubicacion <strong>es obligatoria</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="number" formControlName="precio" class="form-control-lg"
                                    placeholder="Precio">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                    <span>El precio <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="text" formControlName="peso" class="form-control-lg" placeholder="Peso">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('peso')?.hasError('required') && productoForm.get('peso')?.touched">
                                    <span>El peso <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="text" formControlName="dimensiones" class="form-control-lg"
                                    placeholder="Dimensiones">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('dimensiones')?.hasError('required') && productoForm.get('dimensiones')?.touched">
                                    <span>Las dimensiones <strong>son obligatorias</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <input type="text" formControlName="material" class="form-control-lg"
                                    placeholder="Material">
                                <div class="text-danger"
                                    *ngIf="productoForm.get('material')?.hasError('required') && productoForm.get('material')?.touched">
                                    <span>El material <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="inputContainer">
                                <button routerLink="/" class="btn-back">VOLVER</button>
                                <button type="submit" [disabled]="productoForm.invalid"
                                    class="btn-success">ACEPTAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>