<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrate</title>
</head>

<body>
    <div class="signupFrm">
        <div class="wrapper">
            <form action="" class="form">
                <h1 class="title">Registrate</h1>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="a">
                    <label for="" class="label">Correo</label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="a">
                    <label for="" class="label">Nombres</label>

                </div> <div class="inputContainer">
                    <input type="text" class="input" placeholder="a">
                    <label for="" class="label">Apellidos</label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="a">
                    <label for="" class="label">Contraseña</label>
                </div>

                <div class="inputContainer">
                    <input type="text" class="input" placeholder="a">
                    <label for="" class="label">Confirmar contraseña</label>
                </div>

                <div class="buttonsOn">
                    <a href="login" class="backLogin">Regresar</a>
                    <input type="submit" class="submitBtn" value="Registrarse">
                </div>
            </form>
        </div>
    </div>
</body>

</html>